%h1 Users

%table.table
  %thead
    %tr
      %th Name
      %th Requests
      %th Pending
      %th Accepted
      %th Rejected
      %th Total refunds
      %th

  %tfoot
    %tr
      %td.text-center{colspan: 7}
        =paginate @users

  %tbody
    - @users.each do |user|
      %tr
        %td= user.full_name
        %td= user.request_count(:all)
        %td= user.request_count(:pending)
        %td= user.request_count(:accepted)
        %td= user.request_count(:rejected)
        %th= user.total_refunds

%br
