.authform
  = simple_form_for @refund_request do |f|
    - if @refund_request.errors.any?
      #error_explanation
        %h2= "#{pluralize(@refund_request.errors.count, "error")} prohibited this refund request from being saved:"
        %ul
          - @refund_request.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      = f.input :title, as: :string, autofocus: true, disabled: !@refund_request.pending?
    .form-group
      = f.input :description, disabled: !@refund_request.pending?
    .form-group
      = f.input :category_id, collection: Category.all, selected: @refund_request.category_id, as: :select, disabled: !@refund_request.pending?
    .form-group
      = f.input :amount, step: 0.01, disabled: !@refund_request.pending?
    - unless current_page?(action: 'new')
      .check-boxes
        = f.input :status, selected: RefundRequest.statuses.keys[@refund_request[:status]], disabled: !current_user.admin?
      .form-group
        = f.input :rejection_reason, class: 'form-control', disabled: !current_user.admin?
    .actions
      = f.submit 'Save', :class => 'btn btn-primary'
