%h1 Refund Requests
%h4
  - filters_tag
%h5 To apply filtering by user, category or status, click the respective field.

%table.table
  %thead
    %tr
      - if user_signed_in? && current_user.admin?
        %th User
      %th Name
      %th Category
      %th Amount
      %th Refund
      %th Submitted
      %th Status
      - if user_signed_in? && current_user.admin?
        %th

  -# %tfoot
  -#   %tr
  -#     %td.text-center{colspan: 8} jasdoijo

  %tbody
    - @refund_requests.each do |refund_request|
      %tr
        - if user_signed_in? && current_user.admin?
          %td= refund_request.user
        %td= refund_request.details_link
        %td= refund_request.category
        %td= refund_request.amount
        %td= refund_request.refund
        %td= refund_request.created_at
        %td= refund_request.status
        - if user_signed_in? && current_user.admin?
          %td= refund_request.delete_link


%br

= link_to 'New Refund request', new_refund_request_path
