%h1 Categories

%table.table
  %thead
    %tr
      %th Title
      %th Refund percentage
      %th
      %th

  %tfoot
    %tr
      %td.text-center{colspan: 8}
        =paginate @categories

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.title
        %td= category.refund_percentage
        %td= category.edit_link
        %td= category.delete_link

%br

= link_to 'New Category', new_category_path
