!!!
%html
  %head
    %title RefundClerk
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/navbar'

    .container
      .row
        .col-md-10.col-md-offset-1
          - flash.each do |type, message|
            .alert{class: bootstrap_class_for(type)}
              = message
      .row
        .col-md-10.col-md-offset-1
          = yield
